.employee{
  background: #f7f7f7;
}
.pic img{
  border-radius: 200px;
  width: 150px;
}
.pic1{
  margin-left: 5px;
}
.pic2{
  margin-left: 25px;
}
.employee h3{
  text-align: center;
  color: black;
  font-size: 25px;
  margin: 20px;
}
.pic p{
  padding: 10px 5px 10px 5px;
  font-size: 14x;
}
.pic_data{
  background-color: white;
  border-radius: 10px;
  color: #444;
  margin: 0px;
  box-shadow: 2px 1px 1px grey;
}
hr{
  margin-top: 180px;
}
.body{
  background: white;
}
.body_events img{
  overflow: hidden;
  width: 220px;
  height: 225px;
  margin: 10px;
}
