body{
  width:600px;
  margin: auto;
  background-color: #BCC6CC;
  font-family: sans-serif;
}

blockquote{
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-left: 0;
  text-align: center;
}
